body {
  margin: 0;
  padding: 24px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  --black0: #234;
  --black: #345;
  --black1: #456;
  --black2: #567;
  --black3: #678;
  --white: #f4f6f8;
  --blue: #4a90e2;
  --blue1: #3e80cc;
  --blue2: #316db3;
  --blue3: #245792;
  --electricblue: #026cff;
  --blue: #4171e1;
  /*
  Material Blues
  --blue: #2196f3;
  --blue1: #1e88e5;
  --blue2: #1976d2;
  --blue3: #1565c0;
  */
  --shadow:  0 2px 16px rgba(0,0,0,0.2);
  font-family: Avenir, Ubuntu, Arial, Helvetica, sans-serif;
  background: var(--black);
  color: var(--white);
  position: relative;
  text-align: center;
}

h1 { font-size: 2.8rem; margin: 24px 0 48px;}
h2 { font-size: 2.2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
p { font-size: 1rem; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.shadow-left {
  margin: 25px 0 50px 50px;
  background: var(--black0);
  box-shadow: -25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-right {
  margin: 25px 50px 25px 25px;
  background: var(--black0);
  box-shadow: 25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-top-right {
  margin: 50px 50px 0 0;
  background: var(--black0);
  box-shadow: 25px -25px 0 0 var(--black2);
  color: var(--white);
}

#timeline {
  background: linear-gradient(180deg, #345, #123)
}
.date {
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
  color: white;
  position: relative;
}
.date:nth-child(odd) {
  background-color: rgba(0,0,0,0.1);
}
.date:nth-child(even) {
  background-color: rgba(0,0,0,0.2);
}
.project {
  position: absolute;
  right: 0;
  width: calc((100vw - 250px) / 9);
}

hr {
  border: 1px solid #678;
  border-bottom: none;
  margin: 0;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100vw;
}