body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  --black0: #234;
  --black: #345;
  --black1: #456;
  --black2: #567;
  --black3: #678;
  --white: #f4f6f8;
  --blue: #4a90e2;
  --blue1: #3e80cc;
  --blue2: #316db3;
  --blue3: #245792;
  --electricblue: #026cff;
  --blue: #4171e1;
  /*
  Material Blues
  --blue: #2196f3;
  --blue1: #1e88e5;
  --blue2: #1976d2;
  --blue3: #1565c0;
  */
  --shadow:  0 2px 16px rgba(0,0,0,0.2);
  font-family: Avenir, Ubuntu, Arial, Helvetica, sans-serif;
  background: var(--white);
  color: var(--black);
}

h1 { font-size: 2.8rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
p { font-size: 1rem; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.shadow-left {
  margin: 25px 0 50px 50px;
  background: var(--black0);
  box-shadow: -25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-right {
  margin: 25px 50px 25px 25px;
  background: var(--black0);
  box-shadow: 25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-top-right {
  margin: 50px 50px 0 0;
  background: var(--black0);
  box-shadow: 25px -25px 0 0 var(--black2);
  color: var(--white);
}


.info {
  padding: 48px 24px;
  color: var(--black3);
  height: 550px;
  box-sizing: border-box;
  flex: 2;
}
.profile {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}
.text {
  margin: 12px auto 24px;
}
.name {
  margin: 16px 0 8px;
}
.name > span {
  color: var(--blue);
}
.snippet {
  margin: 12px 0 24px;
}
.location {
  font-weight: normal;
  margin: 0 0;
}
.location b,
.location i,
.title {
  color: var(--black1);
}
.socialIcons {
  margin: 0 12px;
}
.socialIcons > a {
  text-decoration: none;
  color: var(--black1);
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
}
.socialIcons > a > i {
  width: 40px;
  height: 40px;
  margin: 0 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.links {
  display: flex;
  padding: 12px 12px 0;
}
.card {
  flex: 1;
  margin: 12px;
  box-shadow: var(--shadow);
  border-radius: 8px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.web {
  flex: 1;
  margin: 12px;
  height: 100px;
  background: linear-gradient(145deg, #36D1DC, #5B86E5);
  background: linear-gradient(145deg, #F15F79, #B24592);
}
.mobile {
  flex: 1;
  margin: 12px;
  height: 100px;
  background: linear-gradient(145deg, #FFC371,#FF5F6D);
  background: linear-gradient(145deg, #36aedc, #5b62e5);
}
.graphic {
  flex: 1;
  margin: 12px;
  height: 100px;
  background: linear-gradient(145deg, #87e0a8, #11998e);
  background: linear-gradient(145deg, #84cc97, #0a867c);
}

.dot {
  position: absolute;
  top: -210px;
  height: 200px;
  width: 10px;
  background: linear-gradient(180deg, transparent, rgba(0,0,0,0.2));
  animation: fall 2.5s infinite ease-in;
}
.dot::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 10px;
  width: 10px;
  background: #5b62e5;
}
.dot[count="1"] { animation-delay: 1.5s; left: 6vw }
.dot[count="2"] { animation-delay: 0.75s; left: 12vw }
.dot[count="3"] { animation-delay: 0s; left: 18vw }
.dot[count="4"] { animation-delay: 1.25s; left: 24vw }
.dot[count="5"] { animation-delay: 0.35s; left: 30vw }
.dot[count="6"] { animation-delay: 0.75s; left: 70vw }
.dot[count="7"] { animation-delay: 1.5s; left: 76vw }
.dot[count="8"] { animation-delay: 0s; left: 82vw }
.dot[count="9"] { animation-delay: 1.25s; left: 88vw }
.dot[count="10"] { animation-delay: 0.35s; left: 94vw }

.dot[count="1"]::before { background: #5259d1 }
.dot[count="2"]::before { background: #059cd8 }
.dot[count="3"]::before { background: #F15F79 }
.dot[count="4"]::before { background: #ffb144 }
.dot[count="5"]::before { background: #0a867c }
.dot[count="6"]::before { background: rgb(214, 29, 159) }
.dot[count="7"]::before { background: #f8a837 }
.dot[count="8"]::before { background: #03afa1 }
.dot[count="9"]::before { background: #F15F79 }
.dot[count="10"]::before { background: #075fc4 }

@keyframes fall {
  0% {
    top: -210px;
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    top: 250px;
  }
}

.project {
  flex: 1;
}
.logo {
  height: 100px;
  width: 100px;
}
.title {

}
.position {

}
.dates {

}
.description {

}

.side {

}
.sideHeader {
  font-weight: bold;
  color: black;
}