body {
  --black0: #234;
  --black: #345;
  --black1: #456;
  --black2: #567;
  --black3: #678;
  --white: #f4f6f8;
  --blue: #4a90e2;
  --blue1: #3e80cc;
  --blue2: #316db3;
  --blue3: #245792;
  --electricblue: #026cff;
  --blue: #4171e1;
  /*
  Material Blues
  --blue: #2196f3;
  --blue1: #1e88e5;
  --blue2: #1976d2;
  --blue3: #1565c0;
  */
  --shadow: 0 2px 12fpx #ccc;
  padding: 0;
  margin: 0;
  font-family: Avenir, Ubuntu, Arial, Helvetica, sans-serif;
  background: var(--white);
  color: var(--black);
}

h1 { font-size: 4.5rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
p { font-size: 1rem; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.shadow-left {
  margin: 25px 0 50px 50px;
  background: var(--black0);
  box-shadow: -25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-right {
  margin: 25px 50px 25px 25px;
  background: var(--black0);
  box-shadow: 25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-top-right {
  margin: 50px 50px 0 0;
  background: var(--black0);
  box-shadow: 25px -25px 0 0 var(--black2);
  color: var(--white);
}

.header {
  color: var(--black3);
  padding: 25px;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  background: var(--white);
}
.profile {
  object-fit: cover;
  height: 280px;
  width: 280px;
}
.name {
  margin: 35px 25px 0;
}
.name > span {
  color: var(--blue);
}
.title {
  margin: 25px;
}
.location {
  font-weight: normal;
  margin: 0 25px 12px;
}
.location b,
.location i,
.title {
  color: var(--black1);
}
.socialIcons {
  margin: 12px;
}
.socialIcons > a {
  text-decoration: none;
  color: var(--black1);
  cursor: pointer;
  margin: 0 4px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  padding: 0;
  margin: 0;
  align-items: stretch;
}
.info {
  width: calc(50% - 50px);
  background: var(--black);
  color: var(--white);
}
.skills {
  width: 50%;
  margin-top: 25px;
}

