body {
  font-size: 14px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #f8f8f8;
  margin: 0;
}
#contain {
  width: 100%;
  max-width: 1200px;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
h2 {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 12px;
  margin-top: 12px;
  color: #678;
}
#contain > .col {
  margin: 12px 0 0;
  flex: 1;
}
.tracker {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 0 0 12px;
  background: #fff;
  position: relative;
  box-shadow: 0 3px 6px #e8e8e8;
  min-height: 70px;
}
i {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
}
span {
  padding: 8px 0 0;
  box-sizing: border-box;
  line-height: 30px;
}
b {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0 2px 6px 0;
}

.text {
  width: calc(100% - 80px);
  padding: 4px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.count {
  margin-left: auto;
  width: 100px;
  height: 100%;
  text-align: center;
  background: #d56;
  color: white;
  background: rgba(231, 89, 106, 0.2);
  color: rgb(183, 0, 21);
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
#form > input {
  width: calc(50% - 3px);
  height: 40px;
  box-shadow: 0 3px 6px #e8e8e8;
  padding: 0 8px;
  box-sizing: border-box;
  border: none;
  margin: 0 0 6px;
}
#form > select,
#form > button {
  width: calc(25% - 4px);
  height: 40px;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  background: white;
  box-shadow: 0 3px 6px #e8e8e8;
}
#form > button {
  border-color: #1ABC9C ;
  background: #1ABC9C ;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.col > button {
  padding: 6px 16px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  width: 40px;
  margin-left: auto;
  height: 50%;
  color: #345;
}
.col > button:nth-of-type(1) {
  background: rgba(26, 188, 156, 0.3);
  color: rgb(0, 117, 93);

  background: #1ABC9C;
  color: white;
}
.col > button:nth-of-type(2) {
  background: rgba(231, 89, 106, 0.3);
  color: rgb(183, 0, 21);

  background: #d56;
  color: white;
}
.del {
  /*
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  width: 25px;
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  border-radius: 12.5px;
  */
  background: #345;
  text-align: center;
  width: 50px;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); 
}

@media (min-width: 1024px) {
  #contain {
    flex-direction: row !important;
  }
  #contain > col {
    margin: 12px 12px 0;
  }
  .tracker {
    width: 100% !important;
    margin-right: 24px;
  }
}