body {
  --black0: #234;
  --black: #345;
  --black1: #456;
  --black2: #567;
  --black3: #678;
  --white: #f4f6f8;
  --blue: #4a90e2;
  --blue1: #3e80cc;
  --blue2: #316db3;
  --blue3: #245792;
  --electricblue: #026cff;
  --blue: #4171e1;
  /*
  Material Blues
  --blue: #2196f3;
  --blue1: #1e88e5;
  --blue2: #1976d2;
  --blue3: #1565c0;
  */
  --shadow: 0 2px 12fpx #ccc;
  padding: 0;
  margin: 0;
  font-family: Avenir, Ubuntu, Arial, Helvetica, sans-serif;
  background: white;
  color: var(--black);
}

h1 { font-size: 4.5rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
p { font-size: 1rem; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.shadow-left {
  margin: 25px 0 50px 50px;
  background: var(--black0);
  box-shadow: -25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-right {
  margin: 25px 50px 25px 25px;
  background: var(--black0);
  box-shadow: 25px 25px 0 0 var(--black2);
  color: white;
}
.shadow-top-right {
  margin: 50px 50px 0 0;
  background: var(--black0);
  box-shadow: 25px -25px 0 0 var(--black2);
  color: var(--white);
}


.timeline {
  background: #f4f4f4;
  margin: 0;
  padding: 24px 36px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  font-weight: bold;
}
.timeline > h3 {
  position: relative;
  color: var(--black);
  margin: 0;
}
.timeline > h3::before {
  content: '';
  position: absolute;
  bottom: 2px;
  height: 16px;
  width: 100%;
  background: var(--electricblue);
  opacity: 0.3;
  z-index: -1;
}
.timeline > a {
  color: var(--black);
  position: relative;
  text-decoration: none;
}
.timeline > a::before,
.before::before {
  content: '';
  position: absolute;
  bottom: 2px;
  height: 8px;
  width: 100%;
  background: var(--electricblue);
  opacity: 0;
  z-index: -1;
  transition: all 0.2s;
}
.timeline > a:hover::before,
.title:hover::before,
.before::before {
  opacity: 0.3 !important;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 10px;
  background: #ddd;
}
#progressBar {
  height: 0;
  width: 10px;
  background: var(--electricblue);
  opacity: 0.5;
}
.content {
  width: calc(100vw - 250px);
  margin-left: auto;
  box-shadow: 0 0 16px #ddd;
  overflow: hidden;
  overflow-y: auto;
}

.project {
  height: 100vh;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 48px;
}
.logo {
  height: 100px;
  width: 100px;
  boox-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin-right: 48px;
}
.socialIcons {
  margin: 24px 0;
}
.socialIcons > a {
  text-decoration: none;
  color: var(--black1);
  cursor: pointer;
  margin: 16px 0;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.socialIcons i {
  font-size: 28px;
  margin: 12px;
}
.name {
  margin: 0;
  line-height: 100px;
}
.position {
  margin: 8px 0;
  color: var(--black1);
}
.dates {
  font-weight: bold;
  color: var(--electricblue);
  margin: 12px 0;
  display: block;
}

#p12 {
  background: #234;
  color: white;
}